.mis-anuncios-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.anuncios-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  flex-grow: 1;
}

.anuncio-preview {
  background-color: white;
  border: 2px solid #4A6B5D;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s;
  width: 100%;
  aspect-ratio: 210 / 297; /* Proporción de A4 vertical */
}

.anuncio-preview:hover {
  transform: translateY(-5px);
}

.anuncio-content-wrapper {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #4A6B5D;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.anuncio-preview p {
  margin: 0;
  font-weight: bold;
  color: #333;
}

.nuevo-anuncio .anuncio-content-wrapper {
  border-style: dashed;
}
.titulo-anuncio {
  font-size: 2rem;       
  font-weight: 700;      
  color: #333;      
  margin-top: 0.5rem;
  text-align: center;
}

.titulo-nuevo-anuncio {
  font-size: 2rem;     
  font-weight: 700;      
  color: #f28c13;        
  text-align: center;
  margin-top: 0.5rem;
}

.plus-icon {
  font-size: 4rem;
  font-weight: bold;
  color: #4A6B5D;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .anuncios-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .anuncios-grid-container {
    grid-template-columns: 1fr;
  }
}